PORT=3000
APP_URL=http://localhost:${PORT}
PASSWORD_SALT="treat_it_secret"
TOKEN_SECRET="treat_it_secret"
SALT_ROUND=7
TOKEN_EXPIRE=5d

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# psql -u postgres psql
#postgres=# create database mydb;
#postgres=# create user myuser with encrypted password 'mypass';
#postgres=# grant all privileges on database mydb to myuser;
# instal prisma and @prisma/client
# initialize prisma using "npx prisma init --datasource-provider postgresql"
# generate migration file from the schema using "npx prisma migrate dev --name init"

DATABASE_URL="postgresql://username:password@localhost:5432/dbname?schema=public"